.featured-section-title {
    font-weight: lighter;
    color: #7d97ad;
    margin: 25px 0 15px 0;
}

.featured-work-item {
    text-align: center;
    transition: opacity 500ms ease-out;
}
.featured-work-item:hover {
    opacity: 1 !important;
}

.featured-work-item .featured-work-item-title {
    margin-top: 10px;
    text-transform: uppercase;
}

.featured-work-item a {
    color: #000;
    font-weight: lighter;
    white-space: nowrap;
}

.featured-work-item p {
    text-overflow: ellipsis;
    overflow: hidden;
}

.featured-work-item img {
    min-width: 100%;
}

.featured-section:hover .featured-work-item {
    opacity: .5;
}